<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matcher.top.it.dao.DeptDao">

    <select id="get" resultType="com.matcher.top.it.entity.Dept" >
		select deptno,dName,dbSource from dept where deptno=#{deptno};
	</select>
    <select id="list" resultType="com.matcher.top.it.entity.Dept">
		select deptno,dName,dbSource from dept;
	</select>
    <insert id="add" parameterType="com.matcher.top.it.entity.Dept">
		INSERT INTO dept(dName,dbSource) VALUES(#{dName},#{dbSource});
	</insert>

</mapper>